.title {
    text-align: center;
    background-color: rgb(66, 100, 133);
    font-size: x-small;
    color: rgb(255, 255, 255);
    font-size: large;
}

.logo {
    text-align: center;
    background-color: rgb(27, 92, 177);
}